/* -----Header--- */
.header{
    background-image: linear-gradient(to right, black,rgb(173, 172, 172));
}

.header__contenedorLogo__titulo{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 4rem;
    margin-left: 5px;
    color: crimson;
    padding: 0px;
    text-decoration: none;
}
.header__contenedorLogo__subtitulo{
    color: blanchedalmond;
    text-transform:capitalize;
    align-content: center;
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.header__nav__ul__li__link{
    text-decoration: none;
    color: blanchedalmond;
    
}
.header__nav__ul__li{
    color: blanchedalmond;
    list-style: none;
    display: inline-block;
    padding: 0.3rem;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-right: 2rem;
}

.header__nav__ul{
    text-transform: uppercase;
    text-decoration: none;
    background-color:rgb(105, 103, 103);
    margin-left: 1rem;
}

.header__nav__ul__li:hover{
    background-color: rgb(128, 128, 128);
}
.header__nav{
    background-color:rgb(105, 103, 103);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav__buscador{
    margin-right: 2rem;
}