@import "./scss/reset";
@import "./scss/variables";
@import "./scss/header";
@import "./scss/body";
@import "./scss/footer";


#logo {
    text:{
        decoration: none;
        }
    color: $red;
}

body{
    background:{
        color: $color-bg;
    }
}


