@import "./scss/reset";
@import "./scss/variables2";
@import "./scss/header";
@import "./scss/body";


#logo {
    text: {
        decoration: none;
        }
    color: $red;
}

body{
    background-color: blue;
    background-image: url(./img/bg-1.jpg);
}


